<mat-toolbar color="bg-white" *ngIf="!logged">

	<span class="example-fill-remaining-space"></span>

	<span>
		<a [routerLink]="['/login']">Entre</a>
		<!-- <small class="text-muted mx-2">ou</small>
		<a [routerLink]="['/']">Cadastre - se</a> -->
	</span>
</mat-toolbar>