@media (max-width: 768px) {
	.example-card {
		max-width: 400px;
	}
}

@media (min-width: 769px) {
	.example-card {
		padding-left: 0 !important;
		display: flex;
		max-height: calc( 100vh - 64px) !important;
	}
	.wrapper-image {
		max-height: calc( 100vh - 64px);
	}
	.wrapper-image img {
		object-fit: cover;
		height: calc( 100vh - 64px);
	}
	.wrapper-info {
		height: calc( 100vh - 64px);
	}
	.mat-card-content {
		max-height: 180px;
	}
	.mat-card-actions {
		height: calc( 50vh - 64px);
	}
}

.example-header-image {
	background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
	background-size: cover;
}

textarea {
	width: 100%;
}

agm-map {
	height: 300px;
}

.image-grid {
	margin: 0 auto;
}

.image-grid>img {
	float: left;
	width: 50%;
	height: 150px;
	object-fit: cover;
}

.event-label-public {
	position: relative;
	bottom: 50px;
	background: #45bb82;
	left: calc( 100% - 135px);
	width: 150px;
	color: white;
	font-weight: 500;
}

.event-label-private {
	position: relative;
	bottom: 50px;
	background: #ef9a27;
	left: calc( 100% - 135px);
	width: 150px;
	color: white;
	font-weight: 500;
}