.login{
	height: 100%;
	width: 100%;
	overflow: hidden;
	/* background-image: url(../../assets/img/background.jpg); */
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.card-login{
	text-align: center;
	background-image: linear-gradient(-126deg, #35DDE7 13%, #518CD8 100%);
	border: 1px solid #979797;
}
.card-login a{
	font-family: 'Maven Pro';
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 0.6px;
	text-align: right;
	color: #ffffff;
}
.card-login img{
	height: 50%;	
}
.card-login input{
	max-width: 95%;
}
.modal-footer .btn{
	border-radius: 0px !important;
	padding-left: 2rem;
	padding-right: 2rem;
}
@media (max-width: 768px) {
	.card-login{
		width:100%;
		height: 100%;
		border-radius: 0;
	}
	
} 
.border-white{
	border: white 1px solid;
}
.btn-rounded{

	border-radius: 100px;
}
.btn-square{
	border-radius: 0px;
}
.bottom-0{
	margin-top: -36px;
}