<div class="login align-items-center d-flex card-login">
	<div class="col-lg-4 col-md-6 text-center pt-0 pb-5 px-5">
		<img src="" class="m-4" width="200" alt="">
		<form [formGroup]="formLogin">
			<div class="row">
				<div class="col-md-12">
					<mat-form-field class="example-full-width">
						<input matInput placeholder="Telefone" formControlName="phone" mask='+00 (00) 00000-0000'>
					</mat-form-field>
					<mat-form-field class="example-full-width">
						<input matInput placeholder="Senha" type="password" formControlName="password">
					</mat-form-field>
				</div>
			</div>
		</form>
		<!-- <a (click)="open(content)" class="text-right">esqueci minha senha</a> -->
		<br>
		<button mat-button type="submit" class="border-white btn-rounded w-100 gradient" (click)="submit()">Entrar</button>
	</div>
</div>
<!-- <div class="bottom-0">
	<button mat-button class="w-50 bg-white btn-square" color="primary">F</button>
	<button mat-button class="w-50 bg-white btn-square" color="primary">Cadastre-se</button>

</div> -->

<!-- <ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Recuperar senha</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>Por favor, informe o e-mail cadastrado e enviaremos um link de recuperação de senha</p>
		<input type="text" class="form-control style-02" style="width:95%" formControlName="email">
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-projeto-outline-01" (click)="c('Close click')">CANCELAR</button>
		<button type="button" class="btn btn-projeto-01" (click)="recoverPassword(); c('Close click')">ENVIAR</button>
	</div>
</ng-template> -->