/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; width: 100% !important; max-width: 100%;}
.d-flex{ display: flex; }
.align-items-center{ align-items: center; }
.justify-content-center{ justify-content: center; }
button.gradient{
	font-family: Roboto !important;
	font-size: 16px !important;
	color: #FFFFFF !important;
	text-align: center !important;
	background-image: linear-gradient(-132deg, #35DDE7 0%, #518CD8 100%) !important;
}
.btn-rounded{
	border-radius: 100px !important;
}

.mat-tab-label.mat-ripple.ng-star-inserted{
    width: fit-content !important;
	min-width: unset !important;
	padding: 0 0.5rem !important;
}

mat-ink-bar{
	visibility: hidden !important;
}

.mat-card{
	box-shadow: none !important;
}