<mat-card class="example-card">
	<div class="wrapper-image col-md-6">
		<pre>
			{{ event | json }}
			{{ eventImages | json }}
		</pre>
		<!-- <img mat-card-image [src]="event?.cover.url" alt="imagem do evento"> -->
		<!-- <div class="event-label-public px-2" *ngIf="!event?.closed">Evento público</div>
		<div class="event-label-private px-2" *ngIf="event?.closed">Evento privado</div> -->
	</div>
	<div class="wrapper-info col-md-6">
		<mat-card-content>
			<h4 class="mb-1">{{ event?.name }}</h4>
			<p class="mb-1">{{ event?.startsAt | date : 'dd/MM/yyyy - hh:mm'}}</p>
			<p class="text-muted mb-1">
				{{event?.description}}
			</p>
			<span class="text-info mb-1">{{ event?.address }}</span>
		</mat-card-content>
		<mat-card-actions class="text-center">
			<mat-tab-group>

				<mat-tab>
					<ng-template mat-tab-label>

						<div class="icon-wrapper d-flex align-items-center justify-content-center"
							style="color:#7dbee6; border: 2px solid #7dbee6; border-radius: 100%; height: 40px; width: 40px;">
							<i class="fas fa-camera" style="color:#7dbee6; font-size: 22px"></i>
						</div>
					</ng-template>
					<div class="image-grid" *ngIf="eventImages?.length">
						<img *ngFor="let image of eventImages" [src]="image.image">
					</div>
					<span *ngIf="!eventImages?.length" class="text-muted">
						Nenhuma foto disponível
					</span>
				</mat-tab>
				<mat-tab>
					<ng-template mat-tab-label>
						<div class="icon-wrapper d-flex align-items-center justify-content-center"
							style="color:#7dbee6; border: 2px solid #7dbee6; border-radius: 100%; height: 40px; width: 40px;">
							<i class="far fa-file" style="color:#7dbee6; font-size: 22px"></i>
						</div>
					</ng-template>
					<div class="doc-list">
						<mat-action-list *ngIf="eventDocuments?.length">
							<mat-list-item *ngFor="let doc of eventDocuments">
								<!-- <img matListAvatar [src]="doc.picture.thumbnail" alt=":" class="mr-2"> -->
								<i class="far fa-file-alt mr-1"></i><a target="_blank"
									[href]="doc.url">{{ doc.name }}</a>
							</mat-list-item>
						</mat-action-list>
						<span *ngIf="!eventDocuments?.length" class="text-muted">
							Nenhum documento disponível
						</span>
					</div>
				</mat-tab>
				<mat-tab>
					<ng-template mat-tab-label>
						<div class="icon-wrapper d-flex align-items-center justify-content-center"
							style="color:#7dbee6; border: 2px solid #7dbee6; border-radius: 100%; height: 40px; width: 40px;">
							<i class="fas fa-map-marker-alt" style="color:#7dbee6; font-size: 22px"></i>
						</div>
					</ng-template>
					<agm-map [latitude]="lat" [longitude]="lng">
						<agm-marker [latitude]="lat" [longitude]="lng" (markerClick)="redirectToMap()"></agm-marker>
					</agm-map>
				</mat-tab>
			</mat-tab-group>
		</mat-card-actions>
	</div>
</mat-card>